{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}

    {% block title %} Liste des categories {% endblock %}

    {% block contenu %}


        <ul>

{% for categorie in categories %}



    <li><p><a href="{{ url ('index_categorie',{nomCategorieService : categorie.nomCategorieService | lower }) }}">{{ categorie.nomCategorieService }}</a></p>
        <p>{{ categorie.descriptionCategorie }}</p></li>


{% endfor %}

        </ul>


{% endblock %}
