{% extends 'layout.html.twig' %}

{# Block de title défini dans base.html.twig #}

    {% block title %} Liste des catégories {% endblock %}

    {% block contenu %}

        <section id="portfolio" class=" portfolio">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto text-center service">
                        <h2>NOS SERVICES</h2>
                        <hr class="small">
                    </div>
                </div>
                <div class="row">

                {% for categorie in categories %}

                    <div class="col-md-6">
                        <div class="service-item">
                            <a href="{{ url('index_categories') }}">
                                <img class="img-portfolio img-fluid" src="img/bricolage1.jpg">
                                <p> {{ categorie.nomCategorieService }} </p>
                            </a>
                        </div>

                {% endfor %}

                </div>
            </div>
            </div>
        </section>


{% endblock %}
