/*
    font-family: 'Open Sans', sans-serif;

    font-family: 'Ubuntu', sans-serif;

    font-family: 'Vollkorn', serif;
    font-family: 'Merienda, cursive;
    */

    /* Global Styles */

    html,
    body {
      width: 100%;
      height: 100%;
      background-image: url(../img/fond2.jpg);
    }

    body {
      font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }


    /* Propriete Menu */

    .navbar-toggle {

      background-color: black;


    }



    nav {

      background-color: #F7D358;
      -moz-box-shadow: 8px 8px 12px #aaa; 
      -webkit-box-shadow: 8px 8px 12px #aaa; 
      box-shadow: 8px 8px 12px #555;
      color: black;


    }


    .navbar-header {
      background-color: #F7D358;
      color: black;


    }

    #navbarCollapse {
      background-color: #F7D358;
      color: #F7D358 ;

    }

    /* Propriete Barre de recherche */

    .recherche {

      margin-top: 100px;

    }


    .lieu {

     margin-top: 100px;


   }

   .logo {
     margin-top: 100px;
     margin-left: 40px;
     margin-right: 40px;

   }

   /* Propriete boutons */

   .btn {

    margin-top: 20px;

  }

  /* Propriete image acceuil */

  .photo {
    margin:0 auto;
    margin-top: 60px;
    padding: 20px 20px;
    padding-bottom: 50px;
    max-width: 50%;
  }

  /* Propriete connexion */

  .acroche{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sizeLeft{
    padding-left: 10px;
    padding-right : 10px;
  }

  .connex{
    margin: 0 auto;
    width: 80%;
    margin-top: 120px;
    height: auto;
    padding: 20px 20px;  
    border-radius: 12px;
    border: solid 3px #f2eee7;

  }
  .side{
    margin: 0 auto;
    margin-top: 60px;
    height: auto;
    padding-bottom: 50px;

  }


  /* Propriete sidebar */

  .well {
    width: 80%;
    height: 560px;
    margin:0 auto;

    background-color: black;
    color: #F7D358;

  }

  #sidebar {
    margin-top: 60px;
    padding-top: 30px;
    background-color: white;
    color: #F7D358;

  } 


  h1{
    color:#d5a368;
  }

  h4{
    color: #fff;
    text-align: center;
  }

  /* Propriété Carousel */
  .experience{
    margin: 0 auto;
    height: auto;
    margin-bottom: 20px;

  }

  .carousel {
    width: 100%;
    height: 250px;
    padding-bottom: 90px; 
    background-color: #f2efea;


  }

  .carousel-inner img{ 
    width: 100%;
    height: 200px;
    background-color: #f2efea;


  }

  .carousel h1 {

    color: #F7D358;

  }

  .carousel h2 {

    color: black ;

  }

  /* Propriete profil */
  .nomprenom{
    color: #d5a368;
    font-size: 30px; 
    font-family: 'Merienda', cursive;
  }
  .manote h3{
    color: #d5a368;
    font-size: 21px; 
    font-family: 'Open Sans', sans-serif;
  }
  .etoile{
    width: auto;
    height:25px;
  }
  .mesannonces h3{
    color: #d5a368;
    font-size: 21px; 
    font-family: 'Open Sans', sans-serif;
  }


  th{
    height: 14px;
    background-color: #d5a368;
  }
  td {
    height: 30px;
    background-color: #f2eee7;
    color: #d5a368;
    font-size: 14px; 
    font-family: 'Open Sans', sans-serif;
  }
  .mesinfos h3{
   color: #d5a368;
   font-size: 21px; 
   font-family: 'Open Sans', sans-serif;

 }
 .black{
  color:#000000;
}

.infoplus{
  width: 100%;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
}

/*Propriete section fonctionnement*/
.ill{

  width: 80%;
}

section {

 margin: 0 auto;
 height: auto;
 margin-bottom: 20px;

}

section p {

  margin-bottom: 20px;

}
.trtFonc{
  color: #F7D358;
}
section img {

  margin-top: -50px;
}

.txtExplication{
  font-size: 1.5em;
  font-family: roboto serif;

}


/* Footer */

footer {
  background-color: #fff;
  width: 100%;
  height: 40%;

}

footer img { 
  width: 80px;
  height: auto;

}

.footer{
  font-size: 12px;
  text-align: center;
}

#to-top {
  font-size: 1em;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: none;
  padding: 15px 20px;
}

/* Barre de recherche localisation */
.twitter-typeahead{
  width:100%;
  background-color: #FFFFFF;
}
