



{% if !IS_AUTHENTICATED_FULLY %}
<ul>
    <li><a href="{{  }}">Déposer une annonce (connexion requise)</a></li>
    {#<li><a href="">Parlez-en à vos amis</a></li>#}
    <li><a href="">S’inscrire  (connexion requise)</a></li>
    <li><a href="">Se connecter  (connexion requise)</a></li>
    <li><a href="">Réseaux sociaux</a></li>
</ul>

{% else %}





